.function-keys-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px 1px;
    background-color: #3b3c3c;
    border-bottom: 1px solid #3b3c3c;
}

.function-keys-display :hover {
    background-color: #4a4949;
}

.function-keys-display :nth-last-child(){
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cfbutton {
    width: 100%;
    background-color: #555353;
    color: white
}

.cfbutton h2 {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

