.function-keys-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px 1px;
    background-color: black;
}

.cfbutton {
    width: 100%;
    background-color: #555353;
    color: white
}

.cfbutton h2 {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}