.numeral-keys-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px 1px;
    background-color: #3b3c3c;
}

.numeral-keys-display :hover {
    background-color: #6f6d6d; 
}


.numeral-keys-display :nth-last-child(2) {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.nbutton {
    width: 100%;
    background-color: gray;
    color: white;
}

.nbutton h2 {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

/*Style for Extra long Zero button*/
.nbutton-extra-long {
    grid-column: 1 / 3;
    justify-self: left;
}

.nbutton-extra-long h2 {
    position: relative;
    left: -25%;
}